body {
  background-color: rgb(249, 246, 246);
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid blue;
}

.active {
  background-color: white;
  transition: 0.4s;
}

.passive:hover {
  background-color: white;
  transition: 0.4s;
}

.link {
  padding-top: 60px;
  margin-right: 25px;
}
